@use "vars.scss";
@use "base.scss";

.jrc {
  &-SelectWrapper {
    &-class {
      min-width: 0px;
    }

    /* Control (input box) */
    &__control {
      display: flex;
      border: 1px solid transparent;
      border-radius: 0.375rem;
      padding: 0.5rem;
      background-color: var(--bg-quaternary);
      transition: border-color 0.15s ease-in-out;

      &:hover .jrc-SelectWrapper__indicator {
        filter: brightness(1.2);
      }
    }

    &__control--is-focused {
      border: 1px solid var(--border-primary);
    }

    &__value-container {
      gap: 0.25rem;
    }

    &__input-container input {
      height: min-content;
    }

    /* Menu (dropdown) */
    &__menu {
      margin-top: 0;
      border: 1px solid var(--border-primary);
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: var(--bg-quaternary);
    }

    /* Menu list */
    &__menu-list {
      padding: 0;
      max-height: 200px;
      overflow-y: auto;
    }

    /* Option */
    &__option {
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      background-color: var(--bg-quaternary);
      transition: background-color 0.2s ease;
      color: var(--text-primary);

      &:hover {
        background-color: rgba(var(--bg-tertiary-rgb), 0.6);
      }
    }

    &__option--is-focused {
      background-color: var(--bg-tertiary);
    }

    /* Selected option (after pressing Enter) */
    &__option--is-selected {
      background-color: var(--bg-quinary);
    }

    &__option:active {
      background-color: var(--bg-border);
    }

    /* Multi value */
    &__multi-value {
      border: 1px solid var(--border-primary-highlight);
      background-color: var(--bg-tertiary);
      border-radius: 0.375rem;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    &__multi-value__label {
      font-size: 0.75rem;
      line-height: 1rem;
    }

    &__multi-value__remove {
      @include base.clickable;
      border-radius: 0.125rem;
      background-color: var(--error);
      color: white;
    }

    /* Placeholder */
    &__placeholder {
      color: var(--text-secondary);
      font-weight: 300;
      font-style: italic;
    }

    /* Dropdown indicator */
    &__dropdown-indicator {
      color: var(--text-secondary);
      transition: color 0.2s ease;
    }

    &__indicator-separator {
      display: none;
    }

    /* Input */
    &__input {
      box-shadow: none;
    }

    &__single-value:empty::after {
      content: "Select...";
      color: var(--text-secondary);
      font-weight: 100;
    }
  }
}
