@use "vars.scss";
@use "base.scss";
@use "table.scss";
@use "select-wrapper.scss";
@use "psuedo.scss";
@use "calendar.scss";
@use "mixins.scss";

.jrc {
  &-Accordion {
    width: 100%;
    overflow: hidden;
    border-radius: 0.375rem;
    border-color: transparent;
    background-color: var(--bg-quaternary);
    cursor: pointer;
    padding: 1rem;

    &:hover {
      .jrc-Accordion__content-question-arrow {
        filter: brightness(1.2);
      }
    }

    &__content {
      cursor: default;
      overflow: hidden;

      &-question {
        &-button {
          width: 100%;
          padding: 0px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 500;
          font-size: 20px;
          background: transparent;
          border: none;
          color: var(--text-primary);
          cursor: pointer;
        }

        &-arrow {
          transition: transform 0.5s ease-in-out;
          color: var(--text-secondary);

          &.active {
            transform: rotate(180deg);
          }
        }
      }

      &-answer-container {
        transition: height 0.4s ease-in-out;
      }
    }
  }

  &-Button {
    @include mixins.clickable;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(255 255 255 / 0);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    background-color: var(--button-bg);
    color: #ffffff;

    &[disabled] {
      cursor: not-allowed;

      &:hover {
        filter: none;
      }
    }
    &[data-no-text] {
      padding-left: 0.25rem !important;
      padding-right: 0.25rem !important;
    }
    &[data-small] {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    &[data-variant="secondary"] {
      border: 1px solid var(--border-primary);
      background-color: transparent;
      color: var(--text-primary);
    }
    &[data-variant="tertiary"] {
      background-color: var(--button-bg-tertiary);
      color: #ffffff;
    }
    &[data-variant="selected"] {
      border-color: var(--border-active);
    }
    &[data-variant="warning"] {
      background-color: var(--warning);
    }
    &[data-variant="danger"] {
      background-color: var(--error);
    }
    &[data-variant="outline-only"] {
      border: 1px solid var(--border-primary-highlight);
      background-color: transparent;
      color: var(--text-primary);
    }
    &[data-variant="transparent"] {
      background-color: transparent;
      color: var(--text-primary);
    }
  }

  &-Buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-wrap: wrap;
    // justify-content: flex-start; may be extra not needed

    flex-wrap: wrap;
    &[data-nowrap="true"] {
      flex-wrap: nowrap;
    }
  }

  &-Card {
    &__footer {
      margin-top: 1rem;
      justify-self: end;
    }
  }

  &-CardTitle {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__Grid {
      gap: 0.25rem !important;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__Subtitle {
      opacity: 0.55;
    }
  }

  &-Checkbox {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    accent-color: var(--link);

    &__container {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__Label {
      cursor: pointer;
      white-space: normal !important;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &-ColorPicker {
    // TODO: check if colorpicker.scss is needed and can
    // be inside jrc-ColorPicker__tooltip__HexColorPicker
    position: relative;
    display: inline-block;

    &__tooltip {
      position: absolute;
      z-index: 20;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 0.25rem;
      padding: 0.5rem;

      &__Input {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }

  &-DescribedCode {
    overflow: auto;
    white-space: pre;
    text-align: justify;

    &__grid-container {
      // > ::-webkit-scrollbar {
      //   // TODO: check if needed
      //   display: block;
      // }
    }

    &__Subtitle {
      opacity: 0.5;
    }
  }

  &-Divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: var(--border-primary);

    &[data-no-margin] {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  &-Flex {
    display: flex;

    &[data-flex-col] {
      flex-direction: column;
    }

    &[data-justify="normal"] {
      justify-content: normal;
    }
    &[data-justify="flex-start"] {
      justify-content: flex-start;
    }
    &[data-justify="flex-end"] {
      justify-content: flex-end;
    }
    &[data-justify="center"] {
      justify-content: center;
    }
    &[data-justify="space-between"] {
      justify-content: space-between;
    }
    &[data-justify="space-around"] {
      justify-content: space-around;
    }
    &[data-justify="space-evenly"] {
      justify-content: space-evenly;
    }
    &[data-justify="stretch"] {
      justify-content: stretch;
    }

    &[data-items="flex-start"] {
      align-items: flex-start;
    }
    &[data-items="flex-end"] {
      align-items: flex-end;
    }
    &[data-items="center"] {
      align-items: center;
    }
    &[data-items="baseline"] {
      align-items: baseline;
    }
    &[data-items="stretch"] {
      align-items: stretch;
    }
  }

  &-Grid {
    display: grid;
    align-items: flex-end;
    gap: 0.5rem;
  }

  &-Icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__svg {
      display: inline-block;
    }
  }

  &-Input {
    @include mixins.input;
  }

  &-Label {
    font-weight: 700;
  }

  &-Modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border-style: none !important;

    background-image: linear-gradient(
      to bottom right,
      rgba(var(--bg-primary-rgb), 0.85),
      rgba(var(--bg-tertiary-rgb), 0.85),
      rgba(var(--bg-quaternary-rgb), 0.85)
    );

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-image: linear-gradient(
      to top left,
      rgba(var(--bg-primary-rgb), 0.5),
      rgba(var(--bg-secondary-rgb), 0.5)
    );
    border: 1px solid var(--border-primary);

    &__card-container {
      width: 91.666667%;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      @media (min-width: 768px) {
        width: 40%;
      }
      @media (min-width: 1280px) {
        width: 33.333333%;
      }
    }

    &__children-container {
      max-height: 70vh;
    }
  }

  &-PageHeader {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__main-icon {
      margin-right: 0.75rem;
    }
    &__icon {
      margin-right: 0.5rem;
    }

    &__main-title {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__children-container {
      position: sticky;
      right: 0px;
      background-color: var(--bg-primary);
    }
  }

  &-Paginator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @media (min-width: 768px) {
      flex-direction: row;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    &__Buttons {
      flex-wrap: nowrap;
      overflow-x: scroll !important;
    }

    &__Button {
      aspect-ratio: 1 / 1;
      max-height: 2.25rem !important;
      min-width: 2.25rem !important;
      justify-content: center;
      align-items: center;
      padding: 0px !important;
      text-align: center;

      &--in-the-middle-start {
        position: sticky;
        left: 0px;
      }
      &--in-the-middle-start {
        position: sticky;
        right: 0px;
      }
    }

    &__per-page {
      &-container {
        position: sticky;
        right: 0px;
        gap: 0.5rem;
      }

      &-side-comment {
        margin-right: 0.5rem;
        color: var(--text-secondary);
      }

      &-number {
        margin-right: 0.5rem;
        max-height: 2rem;
        width: 50px;
        border-radius: 0.375rem;
        text-align: center;
      }
    }
  }

  &-Shimmer {
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(130deg, rgba(white, 0), rgba(white, 0.7), rgba(white, 0));
    animation: jrc-shimmer 1.5s infinite;

    &__wrapper {
      height: 100%;
      width: 100%;
      background-color: var(--bg-primary);
      overflow: hidden;
      border-radius: 4px;
      position: relative;
      animation: jrc-shimmerWrapper 1.5s infinite;
      opacity: 30%;
    }
  }

  &-Subtitle {
    place-self: start;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 300;
  }

  &-Textarea {
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    scrollbar-gutter: stable;
    background-color: var(--bg-quaternary);
    border: 1px solid transparent;
    resize: vertical;
    padding: 0.5rem;

    &:focus {
      outline: none;
      border: 1px solid var(--border-primary);
    }

    &::placeholder {
      color: var(--text-secondary);
      font-weight: 100;
      font-style: normal;
    }

    &__grid-container {
      display: grid;
    }

    &__subtitle {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 300;
    }
  }

  &-UploadFile {
    position: relative;
    min-width: 100%;

    &__label {
      @include mixins.clickable;
      display: flex;
      height: 2.5rem;
      width: 100%;
      cursor: pointer;
      align-items: center;
      gap: 0.5rem;
      overflow: hidden;
      border-radius: 0.5rem;
      background-color: var(--bg-quaternary);
      padding: 0.5rem;
      padding-right: 2.5rem;

      &__span-choose-file {
        flex-shrink: 0;
        text-wrap: nowrap;
        border-radius: 0.375rem;
        border-width: 1px;
        border-color: var(--border-primary);
        background-color: var(--bg-tertiary);
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 1px;
        padding-bottom: 1px;
      }

      &__span-filename {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:empty::before {
          font-weight: 100;
          color: var(--text-secondary);
          --tw-content: "No file chosen";
          content: var(--tw-content);
        }
      }
    }

    &__Button-clear-file {
      position: absolute;
      right: 0px;
      top: 50%;
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      border-radius: 0px !important;
      border-top-right-radius: 0.375rem !important;
      border-bottom-right-radius: 0.375rem !important;
      padding: 10px;
    }
  }

  &-UploadImage {
    &__preview {
      justify-self: center;
    }
  }
}

html.dark {
  .jrc {
    &-Button {
      [data-small] {
        color: var(--text-primary);
      }

      [data-variant="secondary"] {
        background-color: rgba(var(--button-bg-secondary-rgb), 0.8);
      }
    }
  }
}
