@use "./vars.scss";
@use "./base.scss";

.jrc {
  &-Button {
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(255 255 255 / 0);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--button-bg);
    color: #ffffff;

    &[disabled] {
      cursor: not-allowed;

      &:hover {
        filter: none;
      }
    }
    &[data-no-text] {
      padding-left: 0.25rem !important;
      padding-right: 0.25rem !important;
    }
    &[data-small] {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    &[data-variant="secondary"] {
      border: 1px solid var(--border-primary);
      background-color: transparent;
      color: var(--text-primary);
    }
    &[data-variant="tertiary"] {
      background-color: var(--button-bg-tertiary);
      color: #ffffff;
    }
    &[data-variant="selected"] {
      border-color: var(--border-active);
    }
    &[data-variant="warning"] {
      background-color: var(--warning);
    }
    &[data-variant="danger"] {
      background-color: var(--error);
    }
    &[data-variant="outline-only"] {
      border: 1px solid var(--border-primary-highlight);
      background-color: transparent;
      color: var(--text-primary);
    }
    &[data-variant="transparent"] {
      background-color: transparent;
      color: var(--text-primary);
    }
  }

  &-Buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-wrap: wrap;
    // justify-content: flex-start; may be extra not needed

    flex-wrap: wrap;
    &[data-nowrap="true"] {
      flex-wrap: nowrap;
    }
  }

  &-Card {
    &__footer {
      margin-top: 1rem;
      justify-self: end;
    }
  }

  &-CardTitle {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__Grid {
      gap: 0.25rem !important;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__Subtitle {
      opacity: 0.55;
    }
  }

  &-Calendar {
    // @import "react-datepicker/dist/react-datepicker.css";
  }

  &-DescribedCode {
    > ::-webkit-scrollbar {
      // TODO: check if needed
      display: block;
    }

    &__Subtitle {
      opacity: 0.5;
    }

    &__text {
      overflow: auto;
      white-space: pre;
      text-align: justify;
    }
  }

  &-Divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: var(--border-primary);

    &[data-no-margin] {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  &-Grid {
    display: grid;
    align-items: flex-end;
    gap: 0.5rem;
  }

  &-Icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__svg {
      display: inline-block;
    }
  }

  &-Input {
    border-radius: 0.375rem;
    border: 1px solid transparent;
    padding: 0.5rem;
    outline: none;
    height: min-content;
    background-color: var(--bg-quaternary);
    // ring-0
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);

    &::placeholder {
      color: var(--text-secondary);
      font-weight: 100;
      font-style: normal;
    }

    &:focus {
      border: 1px solid var(--border-primary);
    }

    &.checkbox {
      accent-color: var(--link);
    }

    &__grid-container {
      display: grid;
    }

    &__password-container {
      position: relative;
      width: 100%;
    }

    &--password {
      width: 100%;
    }

    &[type="password"] {
      padding-right: 2.5rem;
    }

    &__Button-show-password {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      cursor: pointer;
      padding: 0.25rem;
    }
  }

  &-Label {
    text-wrap: nowrap;
    font-weight: 700;

    &--span {
      text-wrap: nowrap;
      font-weight: 700;
    }
  }

  &-Modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border-style: none !important;

    // background-image: linear-gradient(
    //   to bottom right,
    //   rgba(var(--bg-primary-rgb), 0.85),
    //   rgba(var(--bg-tertiary-rgb), 0.85),
    //   rgba(var(--bg-quaternary-rgb), 0.85)
    // );

    // backdrop-filter: blur(15px);
    // -webkit-backdrop-filter: blur(15px);
    // background-image: linear-gradient(
    //   to top left,
    //   rgba(var(--bg-primary-rgb), 0.5),
    //   rgba(var(--bg-secondary-rgb), 0.5)
    // );
    // border: 1px solid var(--border-primary);

    &__card-container {
      width: 91.666667%;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      @media (min-width: 768px) {
        width: 40%;
      }
      @media (min-width: 1280px) {
        width: 33.333333%;
      }
    }
  }

  &-Subtitle {
    place-self: start;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 300;
  }

  &-Textarea {
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    scrollbar-gutter: stable;
    background-color: var(--bg-quaternary);
    border: 1px solid transparent;
    resize: vertical;
    padding: 0.5rem;

    &:focus {
      outline: none;
      border: 1px solid var(--border-primary);
    }

    &::placeholder {
      color: var(--text-secondary);
      font-weight: 100;
      font-style: normal;
    }

    &__grid-container {
      display: grid;
    }

    &__subtitle {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 300;
    }
  }
}
html.dark {
  .jrc {
    &-Button {
      [data-small] {
        color: var(--text-primary);
      }

      [data-variant="secondary"] {
        background-color: rgba(var(--button-bg-secondary-rgb), 0.8);
      }
    }
  }
}
